# Entorno virtual
venv/
env/
virtualenv/
.env

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Base de datos
*.sqlite3
*.sqlite3-journal

# Archivos estáticos o media
media/
staticfiles/

# Archivos de IDE
.vscode/
.idea/
*.swp
.DS_Store
*.sublime-project
*.sublime-workspace

# Logs y caché
*.log
logs/
.pytest_cache/
coverage/
*.cache


# Caches dentro de las migraciones de Django
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd