{% extends "base.html" %}
{% load static %}
{% load myfilters %}

{% block link %}
<link rel="stylesheet" href="{% static 'store/style/detalles.css' %}">
{% endblock %}

{% block title %}{{ panel.nombre }}{% endblock %}

{% block content %}
<nav class="nav-breadcrumb" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'paneles' %}">Paneles Sip</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{panel.nombre }}</li>
      </ol>
    </nav>
<div class="product-container">

  <!-- Imagen principal -->
  <div class="product-image">
    {% if panel.imagenes.all %}
      <img src="{{panel.imagenes.first.imagen.url  }}" alt="{{panel.nombre}}" />
    {% else %}
      <div class="placeholder">
        <span>Imagen no disponible</span>
      </div>
    {% endif %}
  </div>

  <!-- Información del producto -->
  <div class="product-info">
    <h1 class="product-title">{{ panel.nombre }}</h1>
    <p class="product-price">Desde: <span>${{ panel.precio|floatformat:0|punto_miles }}</span> IVA Incl.</p>
    <strong class="d-block mt-3 mb-4 p-2">
      {% if panel.inventario.first.modo_stock == 'pedido' %}
          Disponible Bajo Pedido
        {% else %}
          Stock Disponible ({{panel.inventario.first.disponible}})
        {% endif %}
    </strong>
    <form action="" method="post">
      {% csrf_token %}
      <button class="btn-cart">Añadir al carrito</button>
    </form>

    <!-- Descripción -->
    {% if kit.descripcion %}
      <ul class="product-description">
        {% for linea in panel.descripcion.splitlines %}
          <li>{{ linea }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    
<!-- Información adicional opcional -->
<div class="product-extra">
  <h3>Información adicional</h3>
  <table>
    {% if panel.tipo_obs %}
      <tr>
        <th>Tipo de obs</th>
        <td>{{ panel.tipo_obs }}</td>
      </tr>
    {% endif %}

    {% if panel.madera_union %}
      <tr>
        <th>Madera unión</th>
        <td>{{ panel.madera_union }}</td>
      </tr>
    {% endif %}

    {% if panel.espesor %}
      <tr>
        <th>Espesor</th>
        <td>{{ panel.espesor }}</td>
      </tr>
    {% endif %}

    {% if panel.largo %}
      <tr>
        <th>Largo</th>
        <td>{{ panel.largo }}</td>
      </tr>
    {% endif %}

    {% if panel.ancho %}
      <tr>
        <th>Ancho</th>
        <td>{{ panel.ancho }}</td>
      </tr>
    {% endif %}

    {% if panel.categorias.all %}
      <tr>
        <th>Categorías</th>
        <td>
          {% for categoria in panel.categorias.all %}
            {{ categoria.nombre }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>
      </tr>
    {% endif %}
  </table>
</div>



    <!-- Botón volver -->
    <div class="back-link">
      <a href="{% url 'paneles' %}">← Volver al listado de Paneles</a>
    </div>
  </div>
</div>
{% endblock %}
