<!-- !Carga de la carpeta estatica -->
{% load static %}
<head>
    <!--! Estilo -->
    <link rel="stylesheet" href="{% static 'style/estilo.css' %}"> 
</head>
<h1>Bienvenido al Desarrollo de SIPstore</h1>
<!-- ! Carga de Imagen (gif) -->
<img src="{% static 'img/pato.gif' %}" alt="">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora architecto perspiciatis optio. Voluptatem suscipit nisi, voluptatibus fugit exercitationem beatae animi placeat, voluptates nostrum repellat ducimus nemo incidunt praesentium sequi soluta.</p>
