{% extends "base.html" %} {% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'store/style/catalogo.css' %}" />
<link rel="stylesheet" href="{% static 'store/style/filtro.css' %}" />
{% endblock %} {% block title %}Kit de Construccion{% endblock %} {% block content %}
<div class="cuerpo">
  {% include "filtro_kit.html" %}
  <div class="tarjetas">
    <nav class="nav-breadcrumb" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Kits de Construccion</li>
      </ol>
    </nav>
    <h3 class="titulo-cat">Nuestros Modelos</h3>
    <div class="cards">{% include "t_kit.html" with kits=kits %}</div>
  </div>
</div>
{% endblock %}
