{% load static%}
{% load humanize %}
<!-- !css -->
{% block link %}
<link rel="stylesheet" href="{% static 'store/style/tarjeta.css' %}" />
{% endblock %}
<!-- !cloqueo de contenido -->
{% block content %}
<!-- !Tarjetas de productos -->
{% for kit in kits %}
<div class="contenedor-card">
  <div class="card">
    {% if kit.imagenes.all %}
    <img src="{{kit.imagenes.first.imagen.url  }}" alt="{{kit.nombre}}" />
    {% else %}
    <img src="#" alt="Imagen no disponible" />
    {% endif %}
    <div class="card-body">
      <div class="card-title">{{kit.nombre}}</div>
      <!-- !Estrellas -->
      <div class="stars">★★★★★</div>
      <!-- !--------------------- -->
      <div class="card-description">
        Disponible bajo pedido
      </div>
      <div class="price">
        ${{kit.precio|floatformat:0|intcomma}} 
      </div>

      <div class="actions">
        <div class="quantity">
          <button type="button" class="btn rounded-circle custom-icon-btn"><i class="bi bi-dash-lg"></i></button>
          <span>1</span>
          <button type="button" class="btn rounded-circle custom-icon-btn"><i class="bi bi-plus-lg"></i></button>
        </div>
        <button class="add-cart">Añadir al Carrito&nbsp;<i class="bi bi-cart3"></i></button>
      </div>
    </div>
  </div>
</div>
{% empty %}
<p>No kits de construccion disponibles</p>
{% endfor %} {% endblock %}
<!-- ! Para los js  -->
{% block script %}<script src="{% static 'store/js/mas_menos.js' %}"></script>{% endblock %}