{% load static%}
<!-- !css -->
{% block link %}
<link rel="stylesheet" href="{% static 'store/style/tarjeta.css' %}" />
{% endblock %}
<!-- !cloqueo de contenido -->
{% block content %}
<!-- !Tarjetas de productos -->
{% for kit in kits %}
<div class="contenedor-card">
  <div class="card">
    {% if kit.imagenes.all %}
    <img src="{{kit.imagenes.first.imagen.url  }}" alt="{{kit.nombre}}" />
    {% else %}
    <img src="#" alt="Imagen no disponible" />
    {% endif %}
    <div class="card-body">
      <div class="card-title">{{kit.nombre}}</div>
      <div class="stars">★ N°</div>
      <div class="card-description">
        Disponible bajo pedido
      </div>
      <div class="price">
        ${{kit.precio}} 
      </div>

      <div class="actions">
        <div class="quantity">
          <button>-</button>
          <span>1</span>
          <button>+</button>
        </div>
        <button class="add-cart">AÑADIR AL CARRITO</button>
      </div>
    </div>
  </div>
</div>
{% empty %}
<p>No kits de construccion disponibles</p>
{% endfor %} {% endblock %}
<!-- ! Para los js  -->
{% block script %}<script src="{% static 'store/js/mas_menos.js' %}"></script>{% endblock %}