{% load static%} 
<!-- !css -->
{% block link %}
<link rel="stylesheet" href="{% static 'store/style/tarjeta.css' %}">
{% endblock %} 
<!-- !cloqueo de contenido -->
{% block content %}
<!-- !Tarjetas de productos -->
<div class="contenedor-card">
  <div class="card">
    <img src="#" alt="Producto" />
    <div class="card-body">
      <div class="card-title">Nombre Producto</div>
      <div class="stars">★ N°</div>
      <div class="card-description">
        Disponible bajo pedido
      </div>
      <div class="price">
        $999.999 <span style="font-size: 12px">IVA Incl.</span>
      </div>

      <div class="actions">
        <div class="quantity">
          <button>-</button>
          <span>1</span>
          <button>+</button>
        </div>
        <button class="add-cart">AÑADIR AL CARRITO</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
