{% load static%}
{% load humanize %}
<!-- !css -->
{% block link %}
<link rel="stylesheet" href="{% static 'store/style/tarjeta.css' %}" />
{% endblock %}
<!-- !cloqueo de contenido -->
{% block content %}
<!-- !Tarjetas de productos -->
{% for panel in paneles %}
<div class="contenedor-card" data-url="{% url 'paneles' %}">
  <div class="card">
    {% if panel.imagenes.all %}
    <img src="{{panel.imagenes.first.imagen.url  }}" alt="{{panel.nombre}}" />
    {% else %}
    <img src="#" alt="Imagen no disponible" />
    {% endif %}
    <!-- !Oferta  -->
    <div class="oferta">-10%</div>
    <!-- !--------------------- -->
    <div class="card-body">
      <div class="card-title">{{panel.nombre}}</div>
      <!-- !Estrellas -->
      <div class="stars">★★★★★</div>
      <!-- !--------------------- -->
      <div class="card-description">
        Disponible bajo pedido
      </div>
      <!-- !precios -->
      <div class="prices">
        <p class="price">${{panel.precio|floatformat:0|intcomma}}</p> 
        <!-- !Precio anterior -->
        <p class="tachado">${{panel.precio|floatformat:0|intcomma}}</p>
      </div>
      <!-- !--------------------- -->
      <div class="actions">
        <div class="quantity">
          <button>-</button>
          <span>1</span>
          <button>+</button>
        </div>
        <button class="add-cart">AÑADIR AL CARRITO</button>
      </div>
    </div>
  </div>
</div>
{% empty %}
<p>No hay paneles disponibles</p>
{% endfor %} {% endblock %}
{% block script %}<script src="{% static 'store/js/mas_menos.js' %}"></script>{% endblock %}
