<!-- !agregar base  -->
{% extends "base.html"%}
{% load static %}

{% block link %}
  <!-- !CSS  -->
  <link rel="stylesheet" href="{% static 'core/style/index.css' %}" />
  <link rel="stylesheet" href="{% static 'core/style/carrusel_producto.css' %}" />
{% endblock %}

{% block content %}
<div class="carrusel">
  {% include "carrusel.html" %}
</div>

<div class="tarjetas">
  <div class="titulo d-flex justify-content-between">
    <h1>Kits de Construccion</h1>
    <a href="{% url 'kits' %}">Ver mas productos...</a>
  </div>
  <div class="cards">
    {% include "kit_carrusel.html" with kits=kits %}
  </div>

  <div class="titulo d-flex justify-content-between">
    <h1>Paneles SIP</h1>
    <a href="{% url 'paneles' %}">Ver mas productos...</a>
  </div>
  <div class="cards">
    {% include "panel_carrusel.html" with paneles=paneles %}
  </div>

  <p></p>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'core/js/carrusel_productos.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      initInfiniteCarousel('#panel_carrusel', 5, 500, 3000);
      initInfiniteCarousel('#kit_carrusel', 5, 500, 3000);
    });
</script>

{% endblock %}