.cuerpo {
  display: flex;
  justify-content: space-between;
}
.tarjetas {
  padding: 0.5% 1% ;
  width: 100%;
  
  justify-content: center;
}
.cards {
  width: 100%;
  padding: 0.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between start;
  align-items: start;
}

.titulo-cat {
  /* font-size: 2.5em; */
  font-size: xx-large;
  font-weight: bold;
  color: #008c9e;
  margin: 0 0 0 2%;
}

.nav-breadcrumb {
  margin: 0 0 0 2%;
}
.breadcrumb-item a {
  text-decoration: none;
  color: #008c9e;
}

.breadcrumb-item a:hover {
  color: #02d0eb;
}

@media (max-width: 768px) {
  .cuerpo {
    display: initial;
  }
  .titulo-cat {
    font-size: 1.5em;
    margin: 10px 0 0 1%;
  }
  .cards {
    padding: 1%;
  }
  .tarjetas {
    padding: 1% 3%;
  }
  .nav-breadcrumb {
    font-size: small;
  }
  .breadcrumb{
    margin: 0;
  }
}
