.contenedor-card{
  width: 95%;
  max-width: 35vh;
  margin: 1%;
}

.card {
  background: #fff;
  width: 98%;
  height: 60vh;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 1vh auto;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative;
}


.card img {
  width: 100%;
  height: 40vh  ;
  object-fit: cover;
  display: block;
  border-bottom: 1px solid #ddd;
}

.oferta {
  position: absolute; 
  top: 2em;
  left: 0px; 
  background-color: #ff0004; 
  color: white;
  padding: 6px 12px;
  border-radius: 0 5px 5px 0;
  font-weight: bold;
  font-size: 0.75em;
  z-index: 10;
}

.card-body {
  padding: 5px;
}

.card-title {
  font-size: 1em;
  font-weight: bold;
  margin: 0px;
}

.stars {
  color: #ffc107;
  font-size: 0.8em;
}

.card-description {
  font-size: 0.75em;
  color: #555;
  margin: 0px 0;
}

.prices{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;; 
}

.price {
  font-size: 1em;
  font-weight: bold;
  color: #008c9e;
  margin: 0px 0;
}

.tachado{
  font-size: 0.7em;
  margin: 0px;
  text-decoration: line-through;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  margin: 3px 0px;
  flex-wrap: wrap;
  gap: 10px;
  height:  5vh;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.custom-icon-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid  #008c9e;
  width: 3vh;
  height: 3vh;
}

.custom-icon-btn i{
  font-weight: bold;
  color:  #008c9e ;
  font-size: medium;
}

.quantity span{
  font-size: 0.75em;
  width: 25px;
  margin: 0 2px;
  display: flex;
  justify-content: center;
}

.add-cart {
  color: #fff;
  padding: auto;
  cursor: pointer;
  flex: 1;
  text-align: center;
  border-radius: 50px;
  background-color: rgba(3, 189, 3, 0.683);
  border: 2px solid rgba(3, 189, 3);
  font-size: 0.75em;
  height: 5vh;
  text-decoration: none;

}

.expansion{
  display: none;
  justify-content: space-between;
  padding: 10px;
  height: auto;
  margin-top: 0.5em;
  border-top: 2px solid #b5b5b5;
  
} 

.info{
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 7em;
  margin: 0;
}

/* !HOVER */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  height: auto;
  cursor: pointer;
} 
.card:hover .expansion{
  display: flex;
}
.add-cart:hover {
  background: #00695c;
}

@media (max-width: 700px) {
  .contenedor-card {
    width: 50%;
    max-width: 23vh;
    margin: 0;
  }
  
  .card {
    width: 95%;
    height: 40vh;
    margin: 1vh auto;
  }
  
  .card img {
    height: 22vh;
  }
  
  .card-body {
    padding: 5px;
  }
  
  .card-title{
    font-size: 0.8em;
  }
  .price {
    font-size: 0.8em;
  }
  .stars{
    font-size: 0.6em;
  }
  
  .quantity{
    display: none;
  }

  .card-description{
    font-size: 0.6em;
  }
  .actions{
    height: 30%;
    margin: 0;
  }
  .add-cart {
    font-size: 0.7em;
    height: auto;
    height: 35px;
  }

  .oferta {
    top: 1em;
    padding: 3px 6px;
    font-size: 0.6em;
  }
}