{% extends "base_control.html"%}
{% load static %}

{% block title %} Inventario {% endblock %}

{% block link %}
{# Si tienes estilos específicos para inventario, ponlos aquí #}
{% endblock %}


{% block content %}
<div class="container-fluid py-4 inventario-container">
    <h2 class="text-center mb-4">Inventario</h2>

    {% include "alerta.html" %}

    <ul class="nav nav-tabs justify-content-center flex-wrap" id="inventarioTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="paneles-tab" data-bs-toggle="tab" data-bs-target="#paneles"
                type="button" role="tab" aria-selected="true">
                Paneles SIP
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="kits-tab" data-bs-toggle="tab" data-bs-target="#kits" type="button" role="tab"
                aria-selected="false">
                Kits de Construcción
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="cat-tab" data-bs-toggle="tab" data-bs-target="#cat" type="button" role="tab"
                aria-selected="false">
                Categorías
            </button>
        </li>
    </ul>

    <div class="tab-content mt-3" id="inventarioTabsContent">
        {# CLAVE: Aseguramos que la primera pestaña tenga 'show active' #}
        <div class="tab-pane fade show active" id="paneles" role="tabpanel">
            <div class="d-flex justify-content-end mb-2">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalPanel">
                    + Nuevo Panel SIP
                </button>
            </div>
            {% include "tabla_paneles.html" with paneles=paneles %}
            <nav aria-label="Paginación de Kits" class="mt-4">
                <ul class="pagination justify-content-center">

                    {% if paneles.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ paneles.previous_page_number }}">Anterior</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                    </li>
                    {% endif %}

                    {% for i in paneles.paginator.page_range %}
                    {% if paneles.number == i %}
                    <li class="page-item active" aria-current="page"><span class="page-link">{{ i }}</span></li>
                    {% elif i > paneles.number|add:'-3' and i < paneles.number|add:'3' %} <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if paneles.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paneles.next_page_number }}">Siguiente</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Siguiente</a>
                        </li>
                        {% endif %}

                </ul>
            </nav>
        </div>

        {# Mantenemos 'fade' para el efecto de transición #}
        <div class="tab-pane fade " id="kits" role="tabpanel">
            <div class="d-flex justify-content-end mb-2">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalKit">
                    + Nuevo Kit de Construcción
                </button>
            </div>
            {% include "tabla_kits.html" with kits=kits %}
            <nav aria-label="Paginación de Kits" class="mt-4">
                <ul class="pagination justify-content-center">

                    {% if kits.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ kits.previous_page_number }}">Anterior</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                    </li>
                    {% endif %}

                    {% for i in kits.paginator.page_range %}
                    {% if kits.number == i %}
                    <li class="page-item active" aria-current="page"><span class="page-link">{{ i }}</span></li>
                    {% elif i > kits.number|add:'-3' and i < kits.number|add:'3' %} <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if kits.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ kits.next_page_number }}">Siguiente</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Siguiente</a>
                        </li>
                        {% endif %}

                </ul>
            </nav>
        </div>

        {# Mantenemos 'fade' para el efecto de transición #}
        <div class="tab-pane fade" id="cat" role="tabpanel">
            <div class="d-flex justify-content-end mb-2">
                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalCategoria">
                    + Nueva Categoría
                </button>
            </div>
            {% include "tabla_categoria.html" with categorias=categorias %}
            <nav aria-label="Paginación de categorisa" class="mt-4">
                <ul class="pagination justify-content-center">

                    {% if categorias.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ categorias.previous_page_number }}">Anterior</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                    </li>
                    {% endif %}

                    {% for i in categorias.paginator.page_range %}
                    {% if categorias.number == i %}
                    <li class="page-item active" aria-current="page"><span class="page-link">{{ i }}</span></li>
                    {% elif i > categorias.number|add:'-3' and i < categorias.number|add:'3' %} <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if categorias.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ categorias.next_page_number }}">Siguiente</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Siguiente</a>
                        </li>
                        {% endif %}

                </ul>
            </nav>
        </div>
    </div>
</div>

{% include "action.html" %}
{% include "formularios.html" %}
{% endblock%}
{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const urlParams = new URLSearchParams(window.location.search);
        const activeTab = urlParams.get('tab');

        if (activeTab === 'kits') {
            new bootstrap.Tab(document.getElementById('kits-tab')).show();
        } else if (activeTab === 'cat') {
            new bootstrap.Tab(document.getElementById('cat-tab')).show();
        }
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const filtros = document.querySelectorAll(".filtro-panel");

        filtros.forEach(select => {
            select.addEventListener("change", function () {
                const params = new URLSearchParams(window.location.search);
                params.set("tab", "paneles");  // mantener pestaña activa

                // Establecer o eliminar parámetro según valor
                if (this.value) {
                    params.set(this.name, this.value);
                } else {
                    params.delete(this.name);
                }

                // Redirigir con nuevos filtros
                window.location.search = params.toString();
            });
        });
    });
</script>
{% endblock%}