@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  font-family: "Roboto", sans-serif !important;
  width: 100%;
}

#wrapper {
  min-height: 100vh;
}

#page-content-wrapper {
  padding: 0.5%;
  min-width: auto;
  min-height: 100%;
}

.main {
  min-height: 100%;
  justify-content: end;
}

.offcanvas-body {
  background-color: #008c9e !important;
}

.offcanvas-header {
  background-color: #008c9e !important;
  color: #fff;
}

.navbar {
  background-color: #008c9e !important;
}
.navbar span {
  color: #fff;
}

.navbar-toggler-icon {
  background-image: var(--bs-navbar-toggler-icon-bg);
}

.user-info p{
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin-bottom: 0;

}
.username{
  font-weight: bold;
  font-size: x-large;
}

@media (min-width: 768px) {
  

  #sidebar-wrapper {
    position: fixed;
    height: 100vh;
    z-index: 1000;
    transition: transform 0.3s ease;
  }
  #sidebar {
    position: static !important;
    transform: none !important;
    visibility: visible !important;
    width: 250px;
    height: 100%;
    border-right: 1px solid #ddd;
  }

  #page-content-wrapper {
    margin-left: 250px;
    transition: margin 0.3s ease;
  }

  #wrapper.toggled #sidebar-wrapper {
    transform: translateX(-250px);
  }

  #wrapper.toggled #page-content-wrapper {
    margin-left: 0;
  }

  /* !Boton togle */
  #sidebar-toggler {
    position: absolute;
    top: 50%;
    right: -17px;
    transform: translateY(-50%);
    width: 34px;
    height: 34px;
    z-index: 1001;
    background-color: greenyellow;
    border: 1px solid #006aff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #343a40;
    transition: right 0.3s ease, transform 0.3s ease;
  }

  #wrapper.toggled #sidebar-toggler {
    right: -17px;
  }

  #sidebar-toggler i {
    transition: transform 0.3s ease;
    font-size: 1rem;
  }

  #sidebar .offcanvas-header {
    display: none;
  }
}

.logo-placeholder {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.custom-sidebar-nav li,
.custom-sidebar-bottom li {
  margin-bottom: 10px;
}

.custom-btn {
  width: 100%;
  text-align: left;
  border: 1px solid #ccc;
  color: #343a40;
  background-color: #fff;
  font-weight: 500;
  padding: 8px 15px;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s, color 0.2s;
}

.custom-btn:hover {
  background-color: #e9ecef;
  color: #343a40;
}

.custom-btn.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
  font-weight: bold;
}

.custom-btn.btn-logout {
  border-color: #dc3545;
  color: #dc3545;
}

.custom-btn.btn-logout:hover {
  background-color: #dc3545;
  color: #fff;
}
