{% load static %}
{% load myfilters %}
<div class="collapse show" id="cartListCollapse">
    <div class="card shadow-sm mb-4">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Productos en tu Carrito</h5>
        </div>
        <div class="card-body ">
            {% if productos_carrito %}
            {% for item in productos_carrito %}
            <div class="d-flex align-items-center border-bottom pb-3 mb-3 product-item-{{ item.producto.id }}">
                <img src="{% if item.imagen %}{{ item.imagen }}{% else %}{% static 'img/SinImagen.png' %}{% endif %}" class="img-fluid rounded me-3" alt="{{ item.producto.nombre }}"
                    style="width: 60px; height: 60px; object-fit: cover;">

                <div class="flex-grow-1">
                    <h6 class="mb-0" >{{ item.producto.nombre }} <small class="text-muted fs-6">(ID: {{ item.producto.id }})</small></h6>

                    <div class="d-flex align-items-center mt-1">
                        <span class="small text-muted">Precio Unitario: ${{ item.precio_unitario|floatformat:0|punto_miles }}</span>

                        <div class="input-group input-group-sm me-3" style="width: 120px;">
                            <button class="btn btn-outline-secondary btn-restar-carrito" type="button" data-id="{{ item.producto.id }}" data-accion="restar">-</button>
                            <input type="number" class="form-control text-center cantidad-carrito-input" value="{{ item.cantidad }}" min="0" data-id="{{ item.producto.id }}" data-precio="{{ item.precio_unitario }}">
                            <button class="btn btn-outline-secondary btn-sumar-carrito" type="button" data-id="{{ item.producto.id }}" data-accion="sumar">+</button>
                        </div>
                    </div>
                </div>

                <button class="btn btn-sm btn-outline-danger btn-eliminar-carrito" title="Eliminar elemento" data-id="{{ item.producto.id }}" data-accion="eliminar">
                    <i class="bi bi-trash"></i> Borrar
                </button>
            </div>
            {% endfor %}

            <div class="text-end">
                <button class="btn btn-sm btn-outline-danger btn-limpiar-carrito" data-accion="limpiar" ><i class="bi bi-eraser"></i> Vaciar Carrito</button>
            </div>

            {% else %}
            <p class="text-center text-muted">Tu carrito está vacío.</p>
            {% endif %}
        </div>
    </div>
</div>