{% load static %}
{% load myfilters %}
<div class="card bg-light shadow summary-sticky">
    <div class="card-header bg-secondary text-white">
        <h5 class="mb-0">Sumario de Compra</h5>
    </div>
    <div class="card-body">

        <ul class="list-group list-group-flush mb-3" id="summary-list">
            {% for item in productos_carrito %}
            <li class="list-group-item d-flex justify-content-between align-items-center bg-light summary-item-{{ item.producto.id }}">
                {{ item.producto.nombre }} x <span class="cantidad-summary-{{ item.producto.id }}">{{ item.cantidad }}</span>
                <span class="acumulado-summary-{{ item.producto.id }}">${{ item.acumulado|floatformat:0|punto_miles }}</span>
            </li>
            {% endfor %}
            <li lass="list-group-item d-flex justify-content-between align-items-center bg-light fw-bold text-success">
                Subtotal
                <span id="subtotal_sumary">${{ total_carrito|default:0|floatformat:0|punto_miles }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center bg-light fw-bold border-top border-dark">
                TOTAL
                <span class="fs-5" id="total_sumary">${{ total_carrito|default:0|floatformat:0|punto_miles }}</span>
            </li>
        </ul>

        <div id="cart-controls">
            <button id="btn-continue-cart" class="btn btn-success w-100" onclick="toggleCartCollapse()">
                Continuar Compra &rarr;
            </button>
        </div>

    </div>
</div>