.titulo h1 {
  /* font-size: 2.5em; */
  font-size: xx-large;
  font-weight: bold;
  color: #008c9e;
  margin: 1% 0 0 2%;
}

.quote {
  padding: 0 1vw !important;
}


.configurador-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa; /* Fondo claro para contraste */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.imagen-container {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  padding: 20px;
  border-radius: 5px;
  min-height: 450px; /* Asegura un buen tamaño */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.imagen-container img{
    max-width: auto;
    max-height: 25vw;
}
.modulo-indicador {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
}
/* Clase para simular el resaltado del módulo activo sobre la imagen */
.resaltado-activo {
  /* Aquí podrías usar una capa o imagen para superponer y resaltar */
  /* En este ejemplo, solo usaremos el texto indicador */
  padding: 10px 20px;
  background-color: rgba(0, 123, 255, 0.1);
  border-radius: 5px;
}


