.cart {
  padding: 0 1vw !important;
}
.texto {
  padding: 1vw 3vw;
  font-size: xx-large;
  font-weight: bold;
  color: #008c9e;
  
}
.summary-sticky {
  position: sticky;
  top: 20px; 
}

.btn-sumar-carrito, .btn-restar-carrito{
  background-color: #008c9e;
  color: aliceblue;
  border: none;
}

.btn-sumar-carrito:hover{
  background-color: #20d500;
  color: aliceblue;
}

.btn-restar-carrito:hover{
  background-color: #d50000;
  color: aliceblue;
}

/* input number  */
.input-group{
  margin-left: 5%;
}
.input-group input[type="number"] {
    appearance: none; 
}
.input-group input[type="number"]::-webkit-outer-spin-button,
.input-group input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
    margin: 0;
}

.input-group input[type="number"] {
    -moz-appearance: textfield; 
    appearance: none;
}