body {
  overflow-x: hidden;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 2rem auto;
}

.card-track {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
}

.card-item {
  flex: 0 0 auto;
  max-width: 300px;
  margin: 0 10px;
  
}

/* Botones */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 100%;
  border: none;
  z-index: 20;
  cursor: pointer;
  background: #ffffff37;
}

.carousel-btn.prev {
  left: 0px;
  color: white;
}

.carousel-btn.next {
  right: 0px;
  color: white;
}

.carousel-btn.next:hover,.carousel-btn.prev:hover{
    background: #ffffffa1;
    color: #000000;
}

.card-track,
.card-item {
  user-select: none;
  -webkit-user-drag: none;
}
