{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- !Icono de pestaña -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'img/logoMin.png' %}"
    />
    <!--! Normalize.css  -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <!-- !Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- !Bootstrap Icon  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.min.css' %}" />
    <!-- !CSS  -->
    <link
      rel="stylesheet"
      href="{% static 'control/style/base_control.css' %}"
    />
    {% block link %} {% endblock %}
    <!-- !Titulo  -->
    {% block title %}
    <title>Control</title>
    {% endblock%}
  </head>
  <body>
    <nav class="navbar navbar-light bg-light d-md-none border-bottom">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#sidebar"
          aria-controls="sidebar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <span class="navbar-brand mb-0 h1">Admin Control</span>
      </div>
    </nav>

    <div class="d-flex" id="wrapper">
      <div id="sidebar-wrapper">
        <div
          class="offcanvas offcanvas-start bg-white shadow-sm d-flex flex-column"
          tabindex="-1"
          id="sidebar"
          style="width: 250px"
        >
          <div class="offcanvas-header d-md-none">
            <h5 class="offcanvas-title">Menú</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>

          <div class="offcanvas-body d-flex flex-column p-0">
            <div class="logo-placeholder p-3 mb-3">
              <span class="text-secondary">Logo/Título App</span>
            </div>

            <ul class="nav flex-column mb-auto p-3 custom-sidebar-nav">
              <li>
                <a href="{% url 'control' %}" class="btn custom-btn active"
                  >Panel Informativo</a
                >
              </li>
              <li>
                <a href="#" class="btn custom-btn">Stock</a>
              </li>
              <li>
                <a href="#" class="btn custom-btn">Lista de pedidos</a>
              </li>
              <li>
                <a href="#" class="btn custom-btn">Lista de comentarios</a>
              </li>
            </ul>

            <ul class="nav flex-column mt-auto p-3 custom-sidebar-bottom">
              <hr class="w-100" />
              <li>
                <a href="#" class="btn custom-btn">Cambiar clave</a>
              </li>
              <li>
                <a href="#" class="btn custom-btn btn-logout">Cerrar Sesión</a>
              </li>
            </ul>
          </div>
        </div>

        <button id="sidebar-toggler" class="btn d-none d-md-block">
          <i class="bi bi-chevron-left"></i>
        </button>
      </div>
      <main class="flex-grow-1 bg-light" id="page-content-wrapper">
        <div class="p-4">
          <div class="main rounded shadow-sm p-3 bg-white">
            <h1 class="mb-4">Bienvenido !!</h1>
            {% block content %}{% endblock %}
          </div>
        </div>
      </main>
    </div>
    <!-- !-------------------- -->
    <!-- !Bootstrap JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'control/js/sidebar.js' %}"></script>
    {% block script %}{% endblock %}
  </body>
</html>
