{% load static %}

<button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
    aria-expanded="false">
</button>
<ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Ordenar A-Z</a></li>
    <li><a class="dropdown-item" href="#">Ordenar Z-A</a></li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" />
            <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
        </form>
    </li>
</ul>