{% extends "base_control.html"%} {% load static %} {% load i18n %} {% load humanize %}

<!-- !CSS  -->
{% block link %}
<link rel="stylesheet" href="{% static 'control/style/home.css' %}" />
{% endblock %} {% block content %}
<h1 class="mb-4 fw-bold text-primary">Bienvenido</h1>

<!-- Gráficos -->
<div class="row g-4 mb-4 graficos">
  <div class="col-12 col-md-6 col-lg-4 gr">
    <div class="card p-3 shadow-sm">
      <h5><i class="bi bi-graph-up-arrow me-2"></i>Total ventas del año</h5>
      <div class="chart-box my-3"></div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 gr">
    <div class="card p-3 shadow-sm">
      <h5><i class="bi bi-star me-2"></i>TOP 3 productos</h5>
      <div class="chart-box my-3"></div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 gr">
    <div class="card p-3 shadow-sm">
      <h5><i class="bi bi-calendar me-2"></i>Ventas del mes</h5>
      <div class="chart-box my-3"></div>
    </div>
  </div>
</div>

<!-- Tabla -->
<div class="card shadow-sm p-3">
  <h4 class="mb-3 text-primary">Pedidos de hoy</h4>
  <a href="{% url 'pedidos' %}">ver todos los pedidos...</a>
  <div class="table-responsive">
    <table class="table table-hover table-striped align-middle">
      <thead>
        <tr>
          <th>ID
            {% include 'filtro_columna.html' with columna_nombre="id" %}
          </th>
          <th>Cliente
            {% include 'filtro_columna.html' with columna_nombre="comprador" %}
          </th>
          <th>Fecha de pedido
            {% include 'filtro_columna.html' with columna_nombre="fecha_pedido" %}
          </th>
          <th>Estado
            {% include 'filtro_columna.html' with columna_nombre="estado" %}
          </th>
          <th>Centro de retiro
            {% include 'filtro_columna.html' with columna_nombre="local" %}
          </th>
          <th>Total
            {% include 'filtro_columna.html' with columna_nombre="monto_total" %}
          </th>
          <th>Pago
            {% include 'filtro_columna.html' with columna_nombre="metodo_pago" %}
          </th>
          <th>Ver Mas</th>
        </tr>
      </thead>
      <tbody>
        {% now "Y-m-d" as today_date %}
        {% for pedido in pedidos %}
          {% with pedido.fecha_pedido|date:"Y-m-d" as pedido_date %}
            {%if pedido_date == today_date %}
              <tr>
                <td class="text-center">#{{ pedido.id }}</td>
                <td class="text-center">{{ pedido.comprador }}</td>
                <td class="text-center">{{ pedido.fecha_pedido|date:"d F Y" }}</td>
                <td class="text-center">
                  {% with estado_actual=pedido.estado|lower %}
                    <span class="badge 
                      {% if estado_actual == 'pendiente' %}
                        bg-warning text-dark
                      {% elif estado_actual == 'en proceso' %}
                        bg-primary text-dark
                      {% elif estado_actual == 'completado' %}
                        bg-success
                      {% elif estado_actual == 'cancelado' %}
                        bg-danger
                      {% else %}
                        bg-secondary
                      {% endif %}">
                      {{ pedido.estado }}
                    </span>
                  {% endwith %}
                </td>
                <td class="text-center">{{ pedido.local }}</td>
                <td class="text-center">${{ pedido.monto_total|floatformat:0|intcomma }}</td>
                <td class="text-center">
                  {% with metodo_actual=pedido.estado|lower %}
                    <span class="badge 
                      {% if metodo_actual == 'pago en tienda' %}
                        bg-warning text-dark
                      {% elif metodo_actual == 'pago web' %}
                        bg-success
                      {% else %}
                        bg-secondary
                      {% endif %}">
                      {{ pedido.metodo_pago }}
                    </span>
                  {% endwith %}
                </td>
                <td class="text-center">
                  <a class="btn btn-sm btn-primary " href="{% url 'pedido_detail' pedido.id %}">
                    <i class="bi bi-eye fs-5"></i>
                  </a>
                </td>
              </tr>
            {% else %}
              <tr>
                <td colspan="8" style="text-align: center; background-color: #f0f0f0; padding: 15px;">
                  <p style="color: #333; font-weight: bold;">
                    ⚠️ No se encontraron pedidos registrados para hoy.
                  </p>
                </td>
              </tr>
            {% endif %}
          {% endwith %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
{% endblock %}