{% load static %}

<div class="modal fade" id="galeriaProducto_{{ contador }}" tabindex="-1"
    aria-labelledby="galeriaProductoLabel_{{ contador }}" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="galeriaProductoLabel_{{ contador }}">Galería del Producto: **{{ producto.nombre }}**</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar galería"></button>
            </div>

            <div class="modal-body">
                <div class="d-flex flex-wrap justify-content-center gap-3">

                    {% for img in producto.imagenes.all %}
                    <img **loading="lazy"** src="{{ img.imagen.url }}" alt="Imagen de {{ producto.nombre }}" class="img-thumbnail"
                        style="max-width: 200px; height: auto;">
                    {% empty %}
                    <p class="text-center alert alert-info w-100">Este producto no tiene imágenes asociadas.</p>
                    {% endfor %}

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>