{% extends "base_control.html"%}
{% load static %}
{% load humanize %}
{% block title %} Inventario {% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'control/style/tablas.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid py-4 inventario-container">
    <h2 class="text-center mb-4">Lista de pedidos</h2>
    <div class="tab-content mt-3" id="inventarioTabsContent">
        <div class="tab-pane fade show active" id="paneles" role="tabpanel">
            {% include "tabla_pedidos.html" with pedidos=pedidos %}
        </div>
    </div>
</div>


{% endblock%}