{% extends "base_control.html" %}
{% load static %}
{% load humanize %}

{% block title %}
Detalles Pedido
{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'control/style/tablas.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid py-4 inventario-container">
    <h2 class="text-center mb-4">Pedido #{{ pedido.id }}</h2>
    <div class="tab-content mt-3" id="inventarioTabsContent">
        <h4 class="mb-1">Datos Pedido</h4>
        <div class="card shadow-sm border-0 w-100">
            <div class="card-body">

                <div class="row g-3">

                    <div class="col-md-6 **border-end**">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Fecha Pedido:</strong>
                                <span>{{ pedido.fecha_pedido|date:"d F Y" }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Fecha Retiro:</strong>
                                {% if pedido.fecha_retiro %}
                                <span>{{ pedido.fecha_retiro|date:"d F Y" }}</span>
                                {% else %}
                                <span>N/A</span>
                                {% endif %}
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Estado:</strong>
                                {% with estado_actual=pedido.estado|title %}
                                <span class="badge fs-6
                        {% if estado_actual == 'Pendiente' %}
                            bg-warning text-dark
                        {% elif estado_actual == 'En Proceso' %}
                            bg-primary text-dark
                        {% elif estado_actual == 'Completado' %}
                            bg-success
                        {% elif estado_actual == 'Cancelado' %}
                            bg-danger
                        {% else %}
                            bg-secondary
                        {% endif %}
                        ">
                                    {{ pedido.estado|title }}
                                </span>
                                {% endwith %}
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Método de Pago:</strong>
                                {% with metodo_actual=pedido.metodo_pago|lower %}
                                <span class="badge fs-6
                        {% if metodo_actual == 'pago en tienda' %}
                            bg-warning text-dark
                        {% elif metodo_actual == 'pago web' %}
                            bg-success
                        {% else %}
                            bg-secondary
                        {% endif %}
                        ">
                                    {{ pedido.metodo_pago|title }}
                                </span>
                                {% endwith %}
                            </li>
                        </ul>
                    </div>

                    <div class="col-12 m-0">
                        <hr class="my-4">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Centro Retiro:</strong>
                                <span>{{ pedido.local }}</span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <h4 class="mb-1 mt-3">Datos del Cliente</h4>
        <div class="card shadow-sm border-0 w-100">
            <div class="card-body">
                <ul class="list-group list-group-flush mt-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Nombre:</strong>
                        <span>{{ pedido.comprador }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>RUT/ID:</strong>
                        <span>{{ pedido.rut_cli }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Teléfono:</strong>
                        <span>+{{ pedido.celular_cli }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>Correo:</strong>
                        <span>{{ pedido.correo_cli }}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Dirección:</strong>
                        <p class="card-text mb-0 mt-1 text-muted">{{ pedido.ubicacion_cli }}</p>
                    </li>
                </ul>
            </div>
        </div>
        <h4 class="mb-1 mt-3">Datos de venta</h4>
        <div class="card shadow-sm border-0 w-100">
            <div class="card-body">
                    <table class="table table-striped table-hover align-middle">

                        <thead class="table">
                            <tr>
                                
                                <th scope="col">Detalle</th>
                                <th scope="col">$/Unitario</th>
                                <th scope="col">Cant.</th>
                                <th scope="col">$Subtotal</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for item in detalles %}
                            <tr>
                                <td>{{ item.producto.nombre }}</td>
                                <td>${{ item.precio_unitario|floatformat:0|intcomma}}</td>
                                <td>{{ item.cantidad }}</td>
                                <td>${{ item.subtotal|floatformat:0|intcomma }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>
                    <ul lass="m-0 p-0 d-flex justify-content-between align-items-center" style="background-color: rgb(251, 238, 0);">
                        <li class="list-group-item d-flex justify-content-between align-items-center m-4"><strong>Total:</strong> <span>${{ pedido.monto_total|floatformat:0|intcomma  }}</span></li>
                    </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}