{% extends "base_control.html"%}
{% load static %}
{% load humanize %}
{% block title %} Inventario {% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'control/style/tablas.css' %}">
{% endblock %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const urlParams = new URLSearchParams(window.location.search);
        const activeTab = urlParams.get('tab');

        if (activeTab === 'kits') {
            const kitsTab = document.getElementById('kits-tab');
            const kitsPane = new bootstrap.Tab(kitsTab);
            kitsPane.show();
        }

        if (activeTab === 'cat') {
            const catTab = document.getElementById('cat-tab');
            const catPane = new bootstrap.Tab(catTab);
            catPane.show();
        }

    });
</script>

{% block content %}
<div class="container-fluid py-4 inventario-container">
    <h2 class="text-center mb-4">Lista de pedidos</h2>
    <div class="tab-content mt-3" id="inventarioTabsContent">
        <div class="tab-pane fade show active" id="paneles" role="tabpanel">
            {% include "tabla_pedidos.html" with pedidos=pedidos %}
        </div>
    </div>
</div>

{% include "action.html" %}
{% include "formularios.html" %}
{% endblock%}