<div class="table-responsive">
  <table class="table table-hover table-striped align-middle">
    <thead class="table">
      <tr>
        <th>ID
          <!-- !FILTRO -->
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
            aria-expanded="false">
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Ordenar A-Z</a></li>
            <li><a class="dropdown-item" href="#">Ordenar Z-A</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" />
                <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
              </form>
            </li>
          </ul>
          <!-- !------ -->
        </th>
        <th>
           <th>
          Cantidad
          <!-- !FILTRO -->
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
            aria-expanded="false">
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Ordenar A-Z</a></li>
            <li><a class="dropdown-item" href="#">Ordenar Z-A</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" />
                  <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </li>
          </ul>
          <!-- !------ -->
        </th>
        <th>
        Nombre
        <!-- !FILTRO -->
        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
          aria-expanded="false">
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Ordenar A-Z</a></li>
          <li><a class="dropdown-item" href="#">Ordenar Z-A</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" />
              <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
            </form>
          </li>
        </ul>
        <!-- !------ -->
        </th>
        <th>
          Precio
          <!-- !FILTRO -->
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
            aria-expanded="false">
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Ordenar A-Z</a></li>
            <li><a class="dropdown-item" href="#">Ordenar Z-A</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" />
                <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
              </form>
            </li>
          </ul>
          <!-- !------ -->
        </th>
        <th>oferta <!-- !FILTRO -->
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
            aria-expanded="false">
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Ordenar A-Z</a></li>
            <li><a class="dropdown-item" href="#">Ordenar Z-A</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" />
                <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
              </form>
            </li>
          </ul>
          <!-- !------ -->
        </th>
        <th>
          Descripcion
        </th>
        <th>m²
          <!-- !FILTRO -->
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
            aria-expanded="false">
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Ordenar A-Z</a></li>
            <li><a class="dropdown-item" href="#">Ordenar Z-A</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" />
                <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
              </form>
            </li>
          </ul>
          <!-- !------ -->
        </th>
        <th>Dormitorios
          <!-- !FILTRO -->
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
            aria-expanded="false">
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Ordenar A-Z</a></li>
            <li><a class="dropdown-item" href="#">Ordenar Z-A</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" />
                <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
              </form>
            </li>
          </ul>
          <!-- !------ -->
        </th>
        <th>Baños
          <!-- !FILTRO -->
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
            aria-expanded="false">
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Ordenar A-Z</a></li>
            <li><a class="dropdown-item" href="#">Ordenar Z-A</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" />
                <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
              </form>
            </li>
          </ul>
          <!-- !------ -->
        </th>
        <th>Categorías
          <!-- !FILTRO -->
          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
            aria-expanded="false">
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Ordenar A-Z</a></li>
            <li><a class="dropdown-item" href="#">Ordenar Z-A</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" />
                <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
              </form>
            </li>
          </ul>
          <!-- !------ -->
        </th>
        <th>Imagenes</th>
        <th class="text-center">Acciones</th>

      </tr>
    </thead>
    <tbody>
      {% for kit in kits %}
      <tr>
        <td>#{{ kit.id }}</td>
        <td>SIN STOCK</td>
        <td>{{ kit.nombre }}</td>
        <td>${{ kit.precio_actual }}</td>
        {% if kit.oferta is blank %}
        <td>N/A</td>
        {% else %}
        <td>{{ kit.oferta }}%</td>
        {% endif %}
        <td>{{ kit.descripcion|truncatechars:20 }}...</td>
        <td>{{ kit.m2 }}</td>
        <td>{{ kit.dormitorios }}</td>
        <td>{{ kit.banos }}</td>
        <td>
          {% for cat in kit.categorias.all %}
          <span class="badge bg-secondary">{{ cat.nombre }}</span>
          {% endfor %}
        </td>
        <td>imagen</td>
        <td class="text-center">
          <button class="btn btn-sm btn-primary">Editar</button>
          <button class="btn btn-sm btn-danger">Eliminar</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>