{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- !Icono de pestaña -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/logoMin.png' %}" />
    <!--! Normalize.css  -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <!-- !Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- !Bootstrap Icon  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.min.css' %}" />
    <!-- !CSS  -->
    <link rel="stylesheet" href="{% static 'core/style/base.css' %}" />
    {% block link %}{% endblock %}

    <title>{% block title %}SIPstore{% endblock %}</title>
</head>

<body>
    {% block content %}{% endblock %}

    <!-- !Bootstrap JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block script %}{% endblock %}
</body>

</html>