{% extends "base_accounts.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock %}

{% block title %}Olvidé mi contraseña{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-3 shadow-sm">
                <h4>Recuperar contraseña</h4>
                <hr>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% if not user_obj %}
                    {{ form.identifier.label_tag }}
                    {{ form.identifier }}
                    <div class="mt-3">
                        <button class="btn btn-primary">Buscar cuenta</button>
                        <a class="btn btn-link" href="{% url 'login' %}">Volver</a>
                    </div>
                    {% else %}
                    <p>Selecciona cómo enviar el código:</p>
                    <input type="hidden" name="user_id" value="{{ user_obj.id }}">
                    <div class="mb-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="method" id="m_email" value="email"
                                checked>
                            <label class="form-check-label" for="m_email">Correo: <strong>{{ email_mask}}</strong></label>
                        </div>
                    </div>
                    {% if email_backup_mask %}
                    <div class="mb-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="method" id="m_backup" value="email">
                            <label class="form-check-label" for="m_backup">Usar correo de respaldo: <strong>{{email_backup_mask }}</strong></label>
                        </div>
                    </div>
                    {% endif %}
                    {% if phone_mask %}
                    <div class="mb-2">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="method" id="m_sms" value="sms">
                            <label class="form-check-label" for="m_sms">SMS: <strong>{{ phone_mask }}</strong></label>
                        </div>
                    </div>
                    {% endif %}
                    <div class="mt-3">
                        <button class="btn btn-primary">Enviar código</button>
                        <a class="btn btn-secondary" href="{% url 'forgot' %}">Cancelar</a>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
{% endblock %}