@media (min-width: 768px) {
    #sidebar-wrapper {
        position: fixed;
        height: 100vh;
        z-index: 1000;
        transition: transform 0.3s ease; 
    }

    #sidebar {
        position: static !important; 
        transform: none !important;
        visibility: visible !important;
        
        width: 250px;
        height: 100%;
        border-right: 1px solid #ddd;
    }
    
    #page-content-wrapper {
        margin-left: 250px; 
        transition: margin 0.3s ease; 
    }

    #wrapper.toggled #sidebar-wrapper {
        transform: translateX(-250px); 
    }

    #wrapper.toggled #page-content-wrapper {
        margin-left: 0; 
    }

    /* !Boton togle */
    #sidebar-toggler {
        position: absolute;
        top: 50%;
        right: -17px; 
        transform: translateY(-50%);
        width: 34px;
        height: 34px;
        z-index: 1001;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        color: #343a40;
        transition: right 0.3s ease, transform 0.3s ease; 
    }
    
    #wrapper.toggled #sidebar-toggler {
        right: -17px; 
    }
    
    #sidebar-toggler i {
        transition: transform 0.3s ease;
        font-size: 1rem;
    }

    #sidebar .offcanvas-header {
        display: none;
    }
}

.logo-placeholder {
    width: 100%;
    height: 100px; 
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #6c757d;
}

.custom-sidebar-nav li,
.custom-sidebar-bottom li {
    margin-bottom: 10px;
}

.custom-btn {
    width: 100%;
    text-align: left;
    border: 1px solid #ccc;
    color: #343a40;
    background-color: #fff;
    font-weight: 500;
    padding: 8px 15px;
    text-decoration: none;
    display: block;
    transition: background-color 0.2s, color 0.2s;
}

.custom-btn:hover {
    background-color: #e9ecef;
    color: #343a40;
}

.custom-btn.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
    font-weight: bold;
}

.custom-btn.btn-logout {
    border-color: #dc3545; 
    color: #dc3545; 
}

.custom-btn.btn-logout:hover {
    background-color: #dc3545;
    color: #fff;
}