.cuerpo {
  display: flex;
}
.tarjetas{
    padding: 2% 2% ;
}
.cards{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between start;
    align-items: start;
}

@media (max-width: 768px) {
  .cuerpo {
    display: initial;
  }
    .titulo h1{
        font-size: 1.5em;
        margin: 20px 0 0 1%;
    }
    .cards{
        padding: 1%;
    }
    .tarjetas{
        padding: 1% 3%;
    }
}

