.contenedor-card{
  width: 90%;
  max-width: 40vh;
  /* margin: 0 auto; */
}

.card {
  background: #fff;
  width: 95%;
  height: 65vh;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 1vh auto;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.card img {
  width: 100%;
  height: 40vh  ;
  object-fit: cover;
  display: block;
  border-bottom: 1px solid #ddd;
}

.card-body {
  padding: 5px;
}

.card-title {
  font-size: 1em;
  font-weight: bold;
  margin: 0px;
}

.stars {
  color: #ffc107;
  font-size: 0.8em;
}

.card-description {
  font-size: 0.75em;
  color: #555;
  margin: 0px 0;
}

.price {
  font-size: 1em;
  font-weight: bold;
  color: #008c9e;
  margin: 0px 0;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  margin: 3px 0px;
  flex-wrap: wrap;
  gap: 10px;
  height: 40px;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.custom-icon-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid  #008c9e;
  width: 25px;
  height: 25px;
}

.custom-icon-btn i{
  font-weight: bold;
  color:  #008c9e ;
  font-size: medium;
}

.quantity span{
  font-size: 0.75em;
  width: 25px;
  margin: 0 2px;
  display: flex;
  justify-content: center;
}

.add-cart {
  color: #fff;
  padding: auto;
  cursor: pointer;
  flex: 1;
  text-align: center;
  border-radius: 50px;
  background-color: rgba(3, 189, 3, 0.683);
  border: 2px solid rgba(3, 189, 3);
  font-size: 0.75em;
  height: 40px;

}

/* !HOVER */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
} 

.add-cart:hover {
  background: #00695c;
}

@media (max-width: 600px) {
  .contenedor-card {
    width: 50%;
    max-width: 23 vh;
  }
  
  .card {
    width: 95%;
    height: 45vh;
    margin: 1vh auto;
  }
  
  .card img {
    height: 22vh;
  }
  
  .card-body {
    padding: 5px;
  }
  
  .card-title,
  .price {
    font-size: 0.9em;
  }
  .stars{
    font-size: 0.6em;
  }
  
  .quantity{
    display: none;
  }

  .card-description{
    font-size: 0.6em;
  }
  .actions{
    height: 40%;
  }
  .add-cart {
    font-size: 0.7em;
    height: auto;
    height: 35px;
  }
}